<div>
  <app-story-text Text="Welcome to Doggo Quest!"></app-story-text>
  <app-story-text Text="Doggo Quest is an Interactive Fiction game created by Matt Eland (@IntegerMan)"></app-story-text>
  <app-story-text Text="This game is implemented in Angular / TypeScript using Angular Material for styling."></app-story-text>
  <app-player-command Text="Say Hello World"></app-player-command>
  <app-story-text Text="You cannot talk because - follow my logic here - YOU ARE A DOG!"></app-story-text>
  <app-story-text Text="A small 'ruff' emerges from your mouth in protest to this fact, however."></app-story-text>
</div>
