.story-area {
  padding: 0.25rem;
  margin: 0.5rem;
}

.scroll-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  line-height:100px;
}
