
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$doggo-quest-primary: mat-palette($mat-cyan);
$doggo-quest-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$doggo-quest-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$doggo-quest-theme: mat-dark-theme($doggo-quest-primary, $doggo-quest-accent, $doggo-quest-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($doggo-quest-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-height {
  height: 100%;
  min-height: 100%;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.scroll-container {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #212121  ;
}

::-webkit-scrollbar-thumb {
  background-color: #616161  ;
}

.text-story {
  color: #cdcdcd;
}

.text-system {
  color: #eeeeff;
  font-weight: 400;
}

.text-room-name {
  color: #eeeeff;
  font-weight: 600;
}

.text-warn {
  color: #ffeb3b;
}

.text-command {
  color: #18ffff  ;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
